<p>Вы получили сообщение из обратной связи.</p>
<p>
    Имя: {{ name }}<br>
    Email: {{ email }}<br>
    Текст: {{ text }}
    {% if link is defined %}<br><a href="{{ link }}">все сообщения, которые написал этот пользователь</a>{% endif %}
</p>